body>div{
  float:left;
}
/*Ligne 1*/
/*vert*/
#block1line1 {
  width: 80%;
  height: 40px;
  background-color: #2dcc70;
 }
/*bleu*/
#block2line1 {
  width: 20%;
  height: 40px;
  background-color: #277fb8;
 }
/*Ligne 2*/
/*rouge*/
#block1line2and3 {
  width: 35%;
  height: 150px;
  background-color: #e84c3d;
 }
/*orange*/
#block2line2 {
  width: 32.5%;
  height: 75px;
  background-color: #e67f22;
 }
/*gris*/
#block3line2 {
  width: 32.5%;
  height: 75px;
  background-color: #95a5a5;
 }
/*Ligne 3*/
/*orange clair*/
#block2line3 {
  width: 21.6%;
  height: 75px;
  background-color: #f39c11;
 }
/*turquoise*/
#block3line3 {
  width: 21.7%;
  height: 75px;
  background-color: #16a086;
 }
/*orange foncé*/
#block4line3 {
  width: 21.7%;
  height: 75px;
  background-color: #d25400;
 }
/*Ligne 4*/
/*gris foncé*/
#block1line4 {
  width: 100%;
  height: 200px;
  background-color: #2d3e50;
 }